httpx==0.17.0
jsonschema==3.2.0
beautifulsoup4==4.9.3

# dev

setuptools==54.0.0
wheel==0.36.2
twine==3.3.0
pre-commit==2.13.0
flake8==3.8.4
mypy==0.812
bump2version==1.0.1
black
pipe2codeblock==1.0.0
